*.html
*.pdf
*.redxml
*.swp
*.txt
*.upload
*~
.tags
/*-[0-9][0-9].xml
/.*.mk
/.gems/
/.refcache
/.venv/
/.vscode/
/node_modules/
/versioned/
Gemfile.lock
archive.json
package-lock.json
report.xml
!requirements.txt
