version: 2
jobs:
  build:
    docker:
      - image: martinthomson/i-d-template:latest
    working_directory: ~/draft

    steps:
      - checkout

      - run:
          name: "Check Formatting"
          command: |
            pip3 install --user black==19.3b0 && ln -s $HOME/.local/bin/black $BINDIR
            black --check .

      - run:
          name: "Run Tests"
          command: |
            if [ -z "$CIRCLE_TAG" ]; then
              pip3 install --user behave && ln -s $HOME/.local/bin/behave $BINDIR
              mkdir -p /tmp/artifacts
              behave --junit --junit-directory /tmp/artifacts tests/*.feature
            fi

      - store_artifacts:
          path: /tmp/artifacts


workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            tags:
              only: /.*?/
